<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">

{% seo %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#6FE0FF">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
  </head>
  <body>
    <section class="page-header">
      <h1 class="project-name">{{ site.title | default: site.github.repository_name }}</h1>
      <h2 class="project-tagline">{{ site.description | default: site.github.project_tagline }}</h2>
    </section>

    <section class="main-content">
    <p style="text-align:center"><strong><a href="/">home</a></strong> — <strong><a href="/research">research</a></strong> — <strong><a href="/team">team</a></strong> — <strong><a href="/resources">resources</a></strong> — <strong><a href="/blog">blog</a></strong></p>
      {{ content }}

	<hr />

	<p style="text-align:center"><strong><a href="/">home</a></strong> — <strong><a href="/research">research</a></strong> — <strong><a href="/team">team</a></strong> — <strong><a href="/resources">resources</a></strong> — <strong><a href="/blog">blog</a></strong></p>

	
<p style="text-align:left;"><a href="http://www.itqb.unl.pt/"><img src="/img/itqb.png"></a>
<span style="float:right;"><a href="http://www.unl.pt/"><img src="/img/unl.png"></a></span>

    </section>

  </body>
</html>
