---
layout: default
---


  <h2>{{ page.title }}</h2>

  <div class="date">
    {{ page.date | date: "%B %e, %Y" }}
  </div>
  
  <p>

  <div class="entry">
    {{ content }}
  </div>

<p>
	<div id="post-nav">
		<div >    
			{% if page.previous.url %}
			<a class="prev" href="{{page.previous.url}}">
				<span>&lt; {{page.previous.title}}</span>
			</a> 
			{% endif %} 
			 — 
			{% if page.next.url %} 
			<a class="next" href="{{page.next.url}}">
				<span>{{page.next.title}} &gt;</span>
			</a> 
			{% endif %} 
		</div>
	</div>

